* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "spartan", sans-serif;
}
body {
  width: 100%;
}
h1 {
  font-size: 40px;
  color: black;
  line-height: 60px;
}
.section-m1 {
  margin: 40px 0;
}
button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: white;
  border-radius: 4px;
  border: none;
  transition: 0.2s;
}
h2 {
  font-size: 30px;
  color: black;
  line-height: 50px;
}
h4 {
  font-size: 25px;
  line-height: 30px;
}
p {
  font-size: 16px;
  color: #486357;
}
h6 {
  font-weight: 700;
  font-size: 12px;
}
/* header */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 60px;
  background: #e3e6f3;
  box-shadow: 1 7px 25px rgb(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  left: 0;
  top: 0;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar li {
  list-style: none;
  padding: 0 15px;
  position: relative;
}
#navbar a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
}
#navbar a:hover,
#navbar li a.active {
  color: #088178;
}
#mobile {
  display: none;
}
#navbar li a.active::after,
#navbar a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color:#088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
/* home page */

#hero {
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),  url(tools/hanged.jpg);
  background-position: top 25% right 0;
  background-size: cover;
  height: 80vh;
  width: 100%;
  padding: 0 80px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

#hero h4 {
  padding-bottom: 15px;
}
#hero h1 {
  color: #088178;
}
#hero button {
  background-image: url(icons/cata\ \(7\).jpg);
  background-repeat: no-repeat;
  background-color: rgba(241, 79, 14, 0.877);
  color: #088178;
  border: 0;
  padding: 14px 40px 14px 60px;
  font-size: 15px;
  font-weight: 720;
}
.section-p1 {
  padding: 40px 80px;
}
#feature {
  display:grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(6, 1fr);
}
#feature .fe-box {
  width: 130px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.06);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 50px 0;
}
#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgb(0, 0, 0, 0.01);
}
#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}
#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}
#feature .fe-box:nth-child(2) h6 {
  background-color: #9cf36a;
}
#feature .fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6 {
  background-color: #f6dbf6;
}
#feature .fe-box:nth-child(5) h6 {
  background-color: #fff2e5;
}
#feature .fe-box:nth-child(5) h6 {
  background-color: #cdd4f8;
}
#product-1 {
  text-align: center;
}
#product-1 .pro-container {
  display:grid;
  justify-content: space-between;
  padding-top: 20px;
  grid-template-columns: repeat(4, 1fr);

}
#product-1 .pro {
  width: 23%;
  min-width: 200px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
}
#product-1 .pro img {
  width: 100%;
  height:30vh;
  border-radius: 20px;
}
.star p {
  color: rgb(218, 218, 11);
  font-size: 30px;
}
#product-1 .pro .desc {
  text-align: start;
  padding: 10px 0;
}
#product-1 .pro .desc span {
  font-size: 12px;
  color: #606063;
}
#product-1 .pro .desc h5 {
  font-size: 14px;
  padding-top: 3px;
  color: #1a1a1a;
}
#product-1 .pro .desc h4 {
  padding-top: 7px;
  font-size: 17px;
  font-weight: 700;
  color: #066861;
}
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(tools/istock.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
#banner .cube {
  background-color: rgba(12, 12, 12, 0.8);
  width: 100%;
  height: 40vh;
  text-align: center;
}
#banner h4 {
  color: white;
  font-size: 16px;
  margin-top: 30px;
}
#banner h2 {
  color: white;
  font-size: 30px;
  padding: 10px 0;
}
#banner span {
  color: #e41e1e;
  font-size: 30px;
  font-weight: 700;
}
#banner button:hover {
  background-color: #088178;
  color: white;
}
#sm-banner {
  display: flex;
  justify-content: space-between;
}
#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(tools/yellow.jpg);
  min-width: 440px;
  height: 50vh;
  margin-right: 16px;
  background-size: cover;
  background-position: center;
  padding: 30px;
}
#sm-banner h4 {
  color: white;
  font-size: 20px;
  font-weight: 300;
}
#sm-banner h2 {
  color: white;
  font-size: 28px;
  font-weight: 800;
}
#sm-banner span {
  color: white;
  font-size: 14px;
  font-weight: 400;
  padding: 10px;
}
#sm-banner .banner-box:hover button {
  background-color: #088178;
  border: 1px solid white;
}
#sm-banner .banner-box button {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  transition: 0.2s;
}
#sm-banner .banner-box:nth-child(2) {
  background-image: url(tools/brown\ hanger.jpeg);
}
#banner-3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}
#banner-3 .banner-box-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(icons/cata\ \(3\).jpg);
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}
#banner-3 .banner-box-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(icons/banana.jpg);
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}
#banner-3 .banner-box-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(icons/cata\ \(1\).jpg);
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}
#banner-3 h2 {
  color: white;
  font-weight: 900;
  font-size: 22px;
}
#banner-3 h3 {
  color: #df1a13;
  font-weight: 800;
  font-size: 15px;
}
#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #011430;
}
#newsletter h4 {
  color: white;
  font-size: 22px;
  font-weight: 700;
}
#newsletter p {
  color: #818ea0;
  font-size: 14px;
  font-weight: 600;
}
#newsletter p span {
  color: rgb(247, 179, 7);
}
#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter .form {
  display: flex;
  width: 40%;
}
#newsletter button {
  background-color: #088178;
  color: white;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .coli {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
}
footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}
footer a {
  font-size: 0.9rem;
  text-decoration: none;
  color: #222;
  margin: 0 0 8px 0;
  margin-bottom: 20px;
}
footer a:hover {
  color: #088178;
}
.follow {
  margin-top: 20px;
}
.icons img {
  width: 25px;
  height: 25px;
  padding-right: 4px;
  cursor: pointer;
}
.icons img:hover {
  background-color: #088178;
  border-radius: 50%;
}
.colinstall .row img {
  width: 40%;
  height: 60px;
  padding: 5px 5px;
  border: 1px solid #088178;
  border-radius: 10px;
  margin: 10px 0 15px 0;
}
.colinstall .row img:hover {
  background-color: #0ca197;
}
.copyright {
  text-align: center;
}
.card{
  width:30%;
}
#close {
  display: none;
  cursor: pointer;
}

/* shop */
#page-header{
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(album/9ce5c55b332d6960fbabd833b2be4f81.jpg);
  background-position:top 25% right 30%;
  width:100%;
  height:40vh;
  background-size:cover;
  display:flex;
  flex-direction:column;
  justify-content:center;
  padding:40px;
  text-align:center;
  
}
#page-header h2,
#page-header p{
 
  color:white;
  font-size:1.9rem;
}
#pagination{
  text-align:center;
}
#pagination a{
  text-decoration:none;
  background-color: #088178;
  padding:15px 20px;
  border-radius:4px;
  color:white;
  font-weight:600;
  font-size:17px;
}

/* single-product */
#prodetails{
  display: flex;
  margin-top: 20px;
}
#prodetails .single-pro{
  width:40%;
  margin-right:50px;
}
.small-img-group{
   display: flex;
    justify-content: space-between;
}
.img {
  width:100%;
}
#smallimg{
  flex-basis:24%;
  cursor: pointer;
}
.small-img-group img{
  width:100%;
  height:15vh;
}
#prodetails .single-pro-details{
  width:50%;
  padding-top:30px;
}
#prodetails .single-pro-details h4{
  padding:40px 0 20px 0;
}
#prodetails .single-pro-details h2{
  font-size: 26px;
}
#prodetails .single-pro-details select{
  padding:5px 10px;
  display:block;
  margin-bottom:10px;
}
#prodetails .single-pro-details input{
  width:50px;
  height:47px;
  padding-left: 10px;
  font-size:16px;
  margin-right:10px;
}
#prodetails .single-pro-details input:focus{
  outline:none;
}
#prodetails .single-pro-details button{
  background-color:#088178;
  color:white; 
}
#prodetails .single-pro-details span{
  line-height:22px;
}

/* blog page */
#page-header.blog-header{
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(album/9ce5c55b332d6960fbabd833b2be4f81.jpg);
  background-position:top 25% right 30%;
}
#blog{
  padding:150px 150px 0 150px;
}
#blog .blog-box{
  display: flex;
  align-items: center;
  width:100%;
  padding-bottom:90px;
}
#blog .image{
  width:50%;
  margin-right:40px;
}
#blog img{
  width:100%;
  height:300px;
  object-fit:cover;
}
#blog .blog-details{
  width:50%;
}
#blog .blog-details a{
  text-decoration:none;
  color:black;
  font-size:11px;
  font-weight: 700;
  position:relative;
}
#blog .blog-details a::after{
  content: "";
  width:50px;
  height: 1px;
  background-color:black;
  position: absolute;
  top:4px;
  right:-60px;
}
#blog .blog-details a:hover{
  color:#088178;
}
.blog-box{
  position:relative;
}
#blog .blog-box h1{
  position:absolute;
  font-weight:700;
  top:-40px;
  font-size:70px;
  color:#c9cbce;
  z-index:-10;
}

/* about page */
#page-header.about-header{
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(icons/canvas.jpg);
  background-position:top 60% right 35%;
  opacity:60%;
  font-weight: 600;
}
#about-head img{
  width:50%;
  height: auto;
}
#about-head{
  display: flex;
  align-items: center;
}
#about-head div{
  padding-left:40px;
}
#about-app{
  text-align:center;
}
#about-app a{
  color:rgb(63, 3, 63);
}
#about-app video{
  width:70%;
  height:100%;
  border-radius:5px;
  margin:30px auto 0 0;
}






/* Contact page */

#contact-details{
 display: flex;
 align-items: center;
 justify-content: space-between;
}

#contact-details .details span,
#form-details form span{
  font-size:12px;
}
#contact-details .details h2,
#form-details form h2{
  font-size:25px;
  line-height: 35px;
  padding:20px 0;
}
#contact-details .details h3{
  font-size:16px;
  padding-bottom:15px;
}
#contact-details .details li{
  list-style:none;
  padding:10px 0;
  display:flex;
  align-items: center;
}
#contact-details .details li img{
  padding-right:22px;
}
#contact-details .details p{
  font-size: 14px;
  margin:0;
}
#form-details form{
  width:65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin:0;
}
#form-details form input{
  width:100%;
  outline: none;
  padding:12px 15px;
  border:1px solid #e1e1e1;
  margin-bottom:20px;
}
#form-details form textarea{
  width:100%;
  outline: none;
  padding:12px 15px;
  border:1px solid #e1e1e1;
  margin-bottom:20px;
}
#form-details form button{
  background-color: #088178;
  color:white;
}
#form-details{
  margin: 30px;
  display: flex;
  justify-content: space-between;
  padding:80px;
  border: 1px solid #e1e1e1;
}
#form-details .people div{
  padding-bottom:25px;
  display:flex;
  align-items: flex-start;
  margin:2px 50px;
}
#form-details .people div img{
  width:50px;
  height:50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right:15px;
}
#form-details .people div p{
  font-size:13px;
  line-height:25px;
  margin:0;
}
#form-details .people div span{
  display: block;
  font-weight: 600;
  font-size:16px;
  color:#000;
}


@media (max-width: 799px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgb(0, 0, 0, 0.01);
    padding: 80px 0 0 10px;
  }
  #navbar.active {
    right: 0px;
  }
  #navbar li {
        margin-bottom:20px;  
    }

  #mobile {
    display: flex;
  }
  #mobile #open {
    cursor: pointer;
    position: relative;
    z-index: 10;
  }
  .section-p1{
    padding:40px 40px;
  }
    #hero {
      height:70vh;
      padding: 0 80px;
      background-position:top 30% right 30%;
  }
  #feature{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    place-content:center;
  }
  #feature .fe-box {
    width: 180px;
    padding: 30px 25px;
    margin:0 0 15px 0;
  }
  #product-1 .pro-container{
    display:grid;
    grid-template-columns:1fr 1fr;
    justify-content:center;
    margin-left:15%;
  }
   
  #banner {
    height: 30vh;
}
#sm-banner{
display:flex;
flex-direction:column;

}
#sm-banner .banner-box {
  margin:10px 10px;
  min-width:100%;
  height: 30vh;
  
  padding: 30px;
}
#banner-3{
  padding:0 40px;
 
}
#banner-3 .banner-box{
  width:28%;
}
#newsletter .form{
  margin-top:20px;
  width:70%;
}
#form-details form {
  width:50%;
}
#form-details {
  padding: 40px;
}
.map img{
  width:100%;
  height:35vh;
}
}


@media (max-width:477px) {

  #header{
    padding:10px 30px;
  }
  h1{
    font-size:38px;
  }
  h2{
    font-size:32px;
  }
  .section-p1{
    padding:20px;
  }
  #hero{
    padding:0 20px;
    background-position: 55%;
  }
  #feature{
    display:grid;
    grid-template-columns:1fr 1fr;
    justify-content:space-between;
    gap: 10px;
  }
  #feature .fe-box {
    width: 150px;
    padding: 30px 25px;
    margin:0 0 15px 0;
  }
  #product-1 .pro-container{
    display:grid;
    grid-template-columns:1fr;
    justify-content:center;
    margin:10px;
  }
  #product-1 .pro{
    width: 100%;
  }
  #banner{
    height:30vh;
  }
  #sm-banner .banner-box {
    height: 40vh;
}
#banner-3 .banner-box{
  width:100%;
}
#newsletter .form{
  width:100%;
}
#newsletter{
  padding:40px 20px;
}
footer .copyright{
  text-align:start;
}
#prodetails{
  display: flex;
  flex-direction:column;
}
#prodetails .single-pro-details{
  width:100%;
}
#prodetails .single-pro{
  width:100%;
}
#page-header {
 
  height:25vh;
}
.small-img-group img {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-around;
}
.img{
  width:100%;
}



/* blog page   */
#blog .blog-box{
  display:flex;
  flex-direction: column;
  align-items:flex-start;
}
#blog .blog-box{
  width: 100%;
}
#blog{
  padding: 100px 20px 0 20px;
}
#blog .image{
  width:100%;
  margin-bottom: 40px;
}
#blog .blog-details{
  width:100%;
}
#hero{
  height:40vh;
}
#about-head{
  flex-direction: column;
}
#about-head img {
  width:100%;
}
#about-head div{
  padding-left:0px;
}
#about-app video {
  width:100%;
}
#contact-details {
  flex-direction: column;
}
.map img {
  width: 100%;
}
#form-details {
  margin: 10px;
  
  padding: 30px 10px;
 flex-wrap: wrap;
}
#form-details form {
  width:100%;
 margin-bottom:20px;
}
}